@import "../../../styles/vars.scss";

.button {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  appearance: none;
}

.primary {
  background-color: $color-primary;
  color: $color-font-primary;
}

.primary-outlet {
  border-color: $color-primary;
  color: $color-primary;
  background-color: transparent;
}

.secondary {
  background-color: $color-secondary;
  color: $color-font-primary;
}

.secondary-outlet {
  border-color: $color-secondary;
  color: $color-secondary;
  background-color: transparent;
}
