.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  padding: 16px;
  display: flex;
  width: 100vw;
  overflow-x: auto;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

.content {
  display: flex;
  column-gap: 16px;
}
