.text-field-content {
  width: inherit;
}

.label {
  width: inherit;
  display: block;
  margin-bottom: 4px;
}

.text-field {
  padding: 5px 12px;
  font-size: 16px;
  line-height: 20px;
  color: #c9d1d9;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #30363d;
  border-radius: 6px;
  box-shadow: 0 0 transparent;
  background: rgba(0, 0, 0, 0.2);
}

.message-error {
  margin: 4px;
  font-size: 12px;
  color: red;
  width: 100%;
}
